body{
    
    background-color: black;
}

mark {
    background-color: white;
}
#title { 
    color:white;
    text-align: center;
    font-family: 'Cabin',verdana,serif
    
    
}

.username {
    height:20px;
    width:150px;
    background-color: black;
    color:white;
    border-style: solid;
    border-color: white;
    border-width: 10px 20px 10px 130px;
    text-align: left;
    font-size: 16px;
    font-family: 'Cabin',verdana,serif;
}

.submit {
    text-align: center;
    
}

.button {
    background-color: white;
    border:none;
    height: 50px;
    width:100px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family:'Cabin',verdana,serif;
}


textarea {
    height:100px;
    width:150px;
    background-color: black;
    color:white;
    border-style: solid;
    border-color: white;
    border-width: 10px 20px 20px 128px;
    text-align: left;
    font-size: 16px;
    font-family: 'Cabin',verdana,serif;
}



#form1 {
    margin-bottom: 0px;
    margin-top: 100px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

#form2 {
    width: 150px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}


.RecentPosts {
    color: white;
    text-align: left;
    border-style: solid;
    border-color: white;
    border-width: 10px 10px 10px 10px;
    font-family:verdana,serif;
    margin-bottom:5px;
    height:relative;
    width:280px;
    margin-left: auto;
    margin-right: auto;
    word-wrap:  break-word;
    position: relative;
}


